extends layout

block content
    div(id='content')
        h1 Verwaltung
        p Administrator:
            if admin
                |  Ja
            else
                |  Nein
        p: a(href='password') Passwort ändern

