extends layout

block content
    div(id='content')
        h1 Verwaltung
        p: a(href='password') Passwort ändern
        if admin
            p Benutzer anlegen
            p Benutzer bearbeiten
