extends layout

block content
    div(id='settings')
        h1 Verwaltung
        form(action="/logout" method="POST")
            button.dialog-button(type="submit") Logout
        p: a(href='password') Passwort ändern
        if admin
            p: a(href='userAdministration') Benutzer verwalten
