extends layout

block content
    div(id='content')
        div#title
            h1 Verwaltung
            a(href="/")
                img(src="/images/calendar-icon.png" width=32 height=32)
        div(id='settings')
            form(action="/logout" method="POST")
                button.dialog-button(type="submit") Logout
            p: a(href='password') Passwort ändern
            if admin
                p: a(href='userAdministration') Benutzer verwalten
