extends layout

block content
    div(id='settings')
        h1 Verwaltung
        form(action="/logout" method="POST")
            button.dialogButton(type="submit") Logout
        p: a(href='password') Passwort ändern
        if admin
            p Benutzer anlegen
            p Benutzer bearbeiten
