extends layout

block content
    div(id='content')
        h1="Login"
        form(action="/login" method="POST")
            p: label Aktuelles Passwort
                br
                input(name="user" type="text" placeholder="username" class="login-text-field")
            p: input(name="password" type="password" placeholder="password" class="login-text-field")
            p: input(type="submit" value="login" class="login-button")
