extends layout

block scripts
    script(src="javascripts/password.js")

block content
    div(id='content')
        h1="Passwort ändern"
        p(id="passwordErrorMessage") bla
        p: label Aktuelles Passwort
            br
            input(id="current" type="password" class="login-text-field")
        p: label Neues Passwort
            br
            input(id="new" type="password" class="login-text-field")
        p: label Neues Passwort (Wiederholung)
            br
            input(id="repetition" type="password" class="login-text-field")
        p: button(id="changePassword" type="submit" class="change-password-button") Passwort ändern
