extends layout

block scripts
    script(src="/javascripts/password.js")

block content
    div(id='content')
        div#title
            h1 Passwort ändern
            a(href="/")
                img(src="/images/calendar-icon.png" width=32 height=32)
        div(id='settings')
            p: label Aktuelles Passwort
                br
                input(id="current" type="password" class="login-text-field")
            p: label Neues Passwort
                br
                input(id="new" type="password" class="login-text-field")
            p: label Neues Passwort (Wiederholung)
                br
                input(id="repetition" type="password" class="login-text-field")
            p: button(id="changePassword" type="submit" class="dialog-button") Passwort ändern
            p(id="passwordErrorMessage")
