extends layout

block content
    div(id='content')
        h1="Login"
        form(action="/login" method="POST")
            p: label Aktuelles Passwort
                br
                input(name="current" type="text" class="login-text-field")
            p: label Neues Passwort
                br
                input(name="new" type="password" class="login-text-field")
            p: label Neues Passwort (Wiederholung)
                br
                input(name="repetition" type="password" class="login-text-field")
            p: input(type="submit" value="login" class="change-password-button")
