body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

th {
  text-align: initial;
}

.sunday {
  background-color: yellow;
}

.new-week {
  background-color: darkblue;
  height: 3px;
}

#monats-dienstplan {
  left: 50px;
  table-layout: fixed;
}

#week-day-column {
  width: 30px;
}

#day-column {
  width: 100px;
}

.name-column {
  width: 150px;
}
