body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #ffeedd;
  color: #333366;
}

#monats-dienstplan td {
  background: white;
}

a {
  color: #993333;
}

th {
  text-align: initial;
}

#content {
  position: relative;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

#week-day-column {
  width: 30px;
}

#day-column {
  width: 25px;
}

.name-column {
  width: 150px;
}

.add-button {
  color: transparent;
}

table#monats-dienstplan td.add-button:hover {
  color: black;
  background-color: #ddffdd;
  cursor: pointer;
}

table#monats-dienstplan td.remove-button:hover {
  color: #cc6666;
  background-color: #ffdddd;
  cursor: pointer;
}

table#monats-dienstplan {
  table-layout: fixed;
  border-collapse: collapse;
}

table#monats-dienstplan td {
  height: 30px;
  padding: 5px;
}

.sunday {
  background-color: yellow;
}

table#monats-dienstplan td.new-week {
  background-color: transparent;
  height: 6px;
  padding: 0;
}

.dialog {
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  background: #ccccccee;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.dialog.active {
  visibility: visible;
}

#selectionDialogContent {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#selectionButtons {
  position: relative;
  width: 360px;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.selectUserButton {
  width: 100%;
  margin: 0;
  font-size: larger;
}

p.active {
  color: #f53;
  font-weight: bold;
}

.day_cell.administrator-modification {
  color: #993333;
  font-weight: bolder;
}

#date-navigation {
  display: flex;
  justify-content: space-between;
}

#date-navigation a {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
